body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
    color: #6a6a6a
}

/* SECTIONS & COLORS */
.stn {
    padding: 7% 15%;
}

.white-section {
    background-color: #fff;
    color: #000;
}

.color-section {
    background-color: #ff4c68;
    color: #fff;
}

.color-section-2 {
    background-color: #ef8172;
    color: #fff;
}

/*  TITLE SECTION */

#title h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* NAVIGATION BAR */

.navbar {
    padding: 2% 15%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* DOWNLOAD BUTTONS */
.download-btn {
    margin: 5% 3% 5% 0%;
}

/* TITLE IMAGE */
.phone-cont {
    position: relative;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* FEATURES */
#features {
    position: relative;
}

.feat-item {
    text-align: center;
    padding: 5%;
}

.feat-item i {
    color: #ef8172;
    font-size: 4rem;
}

.feat-item i:hover {
    color: #ff4c68;
}



/* TESTIMONIALS SECTION */
.testimonial-carousel {
    min-height: 540px;
}

#testimonials h2 {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICE SECTION */
#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* CALL TO ACTION */

#cta h2 {
    font-size: 3.5rem;
}

.download-btn-cta {
    margin: 5% 3% 0% 0%;
}

/* FOOTER */
#footer {
    line-height: 3rem;
}

#footer a {
    color: #000;
}

#footer i {
    font-size: 1.5rem;
    margin: 10px;
}

#footer i:hover {
    color: #444;
}

/* MEDIA QUERYS */

@media (max-width: 1034px) {
    /* TITLE SECTION */
    .title-img {
        position: static;
        transform: rotate(0);
        width: 80%;
    }
}

@media (max-width: 990px) {
    /* TITLE SECTION */

    #title h1{
        text-align: center;
    }
    
    .title-img {
        width: 50%;
    }
}

